/* VARIABLES */
@media (max-width: 62rem) {
  #header {
    opacity: 0.98;
    position: -webkit-sticky;
    position: sticky;
    top: -59px;
    -webkit-transition: -webkit-box-shadow 0.25s ease-out;
    transition: -webkit-box-shadow 0.25s ease-out;
    -o-transition: box-shadow 0.25s ease-out;
    transition: box-shadow 0.25s ease-out;
    transition: box-shadow 0.25s ease-out, -webkit-box-shadow 0.25s ease-out;
    z-index: 500; }
    #header .navbar {
      background-color: #FFFFFF;
      padding-bottom: 0;
      padding-top: 0; }
    #header.shadow-header {
      -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.25);
              box-shadow: 0 2px 20px rgba(0, 0, 0, 0.25); }
    #header .searchicon {
      padding-right: 0.3125rem; }
  #CollapsingNavbar {
    background-color: #FFFFFF;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.25);
            box-shadow: 0 2px 20px rgba(0, 0, 0, 0.25);
    height: calc(100vh + 5px) !important;
    left: 0;
    overflow-y: auto;
    padding-bottom: 14.0625rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    padding-top: 0.9375rem;
    position: absolute;
    top: 54px;
    z-index: -1; }
    #CollapsingNavbar.collapsing {
      left: -75%; }
    #CollapsingNavbar.show {
      left: 0;
      -webkit-transition: left 250ms ease-in-out;
      -o-transition: left 250ms ease-in-out;
      transition: left 250ms ease-in-out; }
    .navbar-toggler.collapsed ~ #CollapsingNavbar {
      -webkit-transition: left 250ms ease-in;
      -o-transition: left 250ms ease-in;
      transition: left 250ms ease-in; }
    #CollapsingNavbar .dropdown-menu {
      border-left: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 0;
      -webkit-box-shadow: none !important;
              box-shadow: none !important;
      padding: 0.5rem 0; }
    #CollapsingNavbar .dropdown .dropdown-menu:not(.show) {
      display: block;
      padding: 0;
      visibility: hidden; }
      #CollapsingNavbar .dropdown .dropdown-menu:not(.show) .dropdown-item {
        height: 0;
        padding-bottom: 0;
        padding-top: 0; } }
